<div class="todo-list" [ngClass]="{'loading':!taskList.length}">
    <ul class="todo-item" >
        <li *ngFor="let item of taskList; let i = index">
            <input type="checkbox" [(ngModel)]="item.checked">
            <input type="text" [(ngModel)]="item.task" [style.text-decoration]="item.checked ? 'line-through' : 'none'">
            <button (click)="deleteItemTaskList(i)"><img src="https://images.vexels.com/media/users/3/153297/isolated/preview/b394f1c0280879beb70bc51813fe1f41-icone-de-traco-colorido-da-lixeira.png" class="trash-icon"></button>
        </li>
    </ul>
</div>
<app-todo-input-items class="input-task" (emmitItemTaskList)="setEmitTaskList($event)"></app-todo-input-items>
<app-todo-button-delete-all (click)="deleteAllTaskList()" *ngIf="taskList.length" class="delete-all" [isTaskListEmpty]="isTaskListEmpty()"></app-todo-button-delete-all>
